VITE_FIREBASE_API_KEY=your-api-key-here
VITE_FIREBASE_AUTH_DOMAIN=berat-badan-1f062.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=berat-badan-1f062
VITE_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
VITE_FIREBASE_APP_ID=your-app-id
